body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9; /* 轻微的灰色背景 */
}

#popup {
	width: 400px;
	margin: 20px auto; /* 增加上下边距以使其在页面中居中显示 */
	padding: 20px;
	background-color: #fff; /* 保持白色背景 */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 调整阴影以增强立体感 */
	border: 1px solid #ddd; /* 添加边框以增强结构感 */
}

h1 {
	color: #ffa116; /* 使用主题色 */
	margin-bottom: 16px; /* 增加与下文的间距 */
}

p {
	line-height: 1.6;
	color: #333; /* 深灰色提高可读性 */
}

#convert {
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	border: none;
	background-color: #ffa116; /* 按钮使用主题色 */
	color: #fff; /* 文字使用白色以增强对比 */
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* 为按钮添加阴影 */
}

#convert:hover {
	background-color: #e69500; /* 悬停时颜色加深 */
}

#container {
	position: relative;
}

/* 定义 copy 按钮样式 */
#copy {
	background-color: #fafafa;

	/* flex 盒子 */
	display: flex;
	align-items: center;
	justify-content: center;

	/* 在父元素基础上修改元素位置 */
	position: absolute;
	top: 2px;
	right: 2px;

	opacity: 0; /* 非 hover 状态不显示 */
	transition: opacity 0.1s ease;
	cursor: pointer;
	border: none;
	padding: 0;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); /* shadow-sm */
}

#copy:hover {
	background-color: #ddd;
}

#container:hover #copy {
	opacity: 1;
	border: 1px solid #ddd;
}

#copy img {
	margin: 4px; /* 定义 Copy 按钮内部 SVG margin 大小*/
}

textarea {
	width: 100%;
	box-sizing: border-box; /* 防止内边距和边框造成额外的宽度 */
	padding: 10px; /* 增加内边距以提高输入体验 */
	border: 1px solid #ddd; /* 边框颜色与div边框相近 */
	border-radius: 5px; /* 统一圆角风格 */
	margin-bottom: 20px;
	resize: vertical; /* 允许垂直调整大小 */
	outline-color: #fafafa; /* focus 时的边框颜色 */
}
